

body {
    font-family: system-ui, 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

body {
    background-color: #F2F0EF;
    color: #1f271b;
}

.dark body {
    background-color: #1f271b;
    color: #F2F0EF;
}

#mode-toggle {
    color: inherit;
}