@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
    transition: background-color 0.8s, color 0.8s;
    overflow: hidden;
    scrollbar-width: none;
}

body {
    background-color: #F2F0EF;
    color: #1f271b;
}

.dark body {
    background-color: #1f271b;
    color: #F2F0EF;
}

#mode-toggle {
    color: inherit;
}

mark {
    color: #136e2f;
    background: none;
}

.dark mark {
    color: #5a9e70;
    background: none;
}

::selection {
    background: transparent;
    color: #F2F0EF;
}

.dark ::selection {
    background: transparent;
    color: #1f271b;
}

#three-canvas {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

